# Top-most EditorConfig file

root = true


# Global file settings

[*]
insert_final_newline = false


# File specific matches

[*.lua]
charset = utf-8
indent_style = tab
indent_size = 4
trim_trailing_whitespace = false

[*.md]
trim_trailing_whitespace = false
